body {
  background-color: #f5f5f5;
  font-family: Helvetica;
}

#photos {
  /* display: flex; */
  margin-top: 20%;
  margin-left: 25%;
}

#reviews {

}

#sidebar {
  /* display: flex;
  float: right;
  margin-top: 30%; */
}
