body {
  margin: 0;
}

.header {
  height: 65px;
  width: 100%;
  background-color: #D1262B;
}

.header-contents {
  width: 78%;
  margin: 0 auto;
}

.logo {
  width: 110px;
  margin-top: -5px;
}

.top-section {
  height: 400px;
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 45px;
  border-bottom: 1px solid #E6E6E6;
}

.title {
  position: fixed;
  font-weight: bold;
  font-size: 42px;
  margin-left: 130px;
  top: 130px;
}

.map-container {
  position: relative;
  top: 35%;
  float: left;
  height: 295px;
  width: 300px;
  border: 1px solid #E6E6E6;
  background-color: white;
  margin-left: 130px;
}

.map-container img {
  width: 290px;
  height: 143px;
}

#photos {
  position: relative;
  top: 45%;
  margin-left: 34%;
}

.bottom-container {
  width: 95%;
  margin-top: 100px;
}

#reviews-ratings {
  margin-left: 6%;
  float: left;
}

#sidebar {
  float: left;
  margin-left: 55px;
}
